PORT=3000
CORS_ORIGINS=http://localhost:8081,http://localhost:8091,http://localhost:8092
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=food_delivery_app
JWT_SECRET=
DELIVERY_FEE_PER_KM=5000
